$primary: #ffcd00;
$secondary: #4d4d4d;
$accent: #b983ff;

$white: #ffffff;
$dark: #222222;
$dark-page: #121212;

$positive: #21ba45;
$negative: #ec6667;
$info: #2fa4ff;
$warning: #ffa51d;

$logo-image: "src/assets/images/Logo/images.png";
